@import'../style/modules/fonts';
@import'../style/modules/variables';
@import'../style/modules/swiper';

body {
  background-color: $cream;
}

.nav {
  @include flex-column;
  width: 100%;
  position: fixed;
  z-index: 99;

  .nav_main {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: $red;


    .nav_main_left {
      @include flex-row;
      align-items: center;
      justify-content: space-between;
      width: 43%;

      .nav_main_menu {
        .material-symbols-outlined {
          color: $white;
          font-size: 45px;
          padding-left: 38px;
          cursor: pointer;

        }


      }

      .nav_main_logo {
        background-color: black;
        padding: 10px 25px;

        a {
          p {
            font-family: $inter;
            color: white;
            font-size: 25px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -3px;

            .clr_red {
              color: $red;
            }
          }

        }
      }

      .nav_main_items {
        ul {
          @include flex-row;

          li {
            list-style: none;

            a {
              font-family: $jakarta;
              font-size: 14px;
              color: $white;
              padding: 16px;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .nav_main_links {
      width: 57%;

      ul {
        @include flex-row;
        justify-content: flex-end;
        width: 100%;

        li {
          list-style: none;


          a {
            font-family: $inter;
            color: $white;
            padding: 16px 40px;
            font-weight: 600;
            // background-color: blue;
            text-transform: capitalize;
            transition: all ease .6s;
          }

          a:hover {
            color: $white;
            background-color: black;
          }

        }
      }


    }

  }

  .nav_secondary {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 50px;

    .nav_secondary_links {
      width: 100%;

      ul {
        width: 100%;
        @include flex-row;
        justify-content: space-between;
        align-items: center;

        li {
          list-style: none;


          a {
            font-size: 15px;
            font-family: $jakarta;
            color: $white;
            padding: 14px 14px;
            text-transform: capitalize;
            transition: all ease .3s;
          }

          a:hover {
            // background-color: white;
            color: rgb(161, 161, 161);
            font-weight: 800;
            font-size: 17px;

          }
        }
      }


    }
  }
}

.landingpage {
  height: 100vh;
  position: relative;

  .landingpage_line {
    position: absolute;
    z-index: 10;
    height: 5px;
    width: 94vw;
    background-color: $white;
    bottom: 200px;
    left: 0;
    border-radius: 1px;
    @include shadow;
  }

  .landingpage_logo {
    position: absolute;
    @include flex-column;
    z-index: 10;
    bottom: 20px;
    right: 64px;

    p {
      font-family: $inter;
      text-transform: uppercase;
      color: $white;
      font-size: 40px;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: -4px;
      @include shadow;


      .clr_red {
        color: $red;
      }
    }
  }
}


// --------------------------------------- display
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .list {
    width: 100%;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;

    .item {
      position: relative;
      grid-area: 1fr;
      padding: 15px;
      font-family: $jakarta;

      .item_title {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 5px;

      }

      .item_description {
        padding-bottom: 3px;

        p {
          font-size: 12px;
          font-weight: 500;
          text-transform: capitalize;
        }
      }

      .item_author {
        padding-bottom: 3px;

        p {
          font-size: 12px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }

      .item_source {
        padding-bottom: 3px;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;

        p {
          font-size: 12px;
          font-weight: 600;
          text-transform: capitalize;
          color: $white;
          @include shadow;
        }
      }

      .item_a {
        @include flex-row;
        justify-content: flex-end;
        font-size: 12px;
        font-weight: 700;
        text-transform: capitalize;
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center top;
      }
    }

    .item:last-of-type {
      border-bottom: none;
    }

    .item:hover {
      background: rgba(0, 0, 0, 0.05);
    }

  }
}

// ------------------------------------- pagination 
.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    width: 50px;
    height: 50px;

    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #44AAEE;

    margin: 5px;
    transition: all ease 0.4s;

    color: #FFF;
    font-size: 18px;
    text-shadow: 0px 0px 4px rgba (0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba (0, 0, 0, 0.2);

  }

  button:hover {
    background-color: #44EEAA;
  }

  .active {
    background-color: #44EEAA;
    box-shadow: inset 0px 0px 4px rgba (0, 0, 0, 0.2);

  }
}